[Desktop Entry]
Name=DublinWheels
Exec=/usr/bin/qmlscene $@ /usr/share/DublinWheels/DublinWheels.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
